:root {
  /* Basic colors */
  --basic-black: #000000;
  --basic-grayish-blue: #283136;
  --basic-black-red: #231F20;
  --basic-very-dark-gray: #444444;
  --basic-dark-gray: #666666;
  --basic-lighter-gray: #ABABAB;
  --basic-gray: #A6A6A6;
  --basic-light-gray: #DBDBDB;
  --basic-light-blue: #D7DCDE;
  --basic-white: #FFFFFF;

  /* Background */
  --background-header-gray: #EEEEEE;
  --background-darker-gray: #4D4D4D;
  --background-icons-gray: #E1E1E1;
  --background-templates-gray: #F2F2F2;
  --background-button-red: #FB565A;
  --background-button-green: #00CA74;
  --background-button-yellow: #EFC849;
  --background-style-yellow: #EFC84A;

  /* Action styles */
  --hover-red: #E74246;
  --click-moderate-red: #D7373B;
  --hover-green: #00BC6C;
  --click-lime-green: #00AA62;
  --hovert-orange: #EAB534;
  --click-vivid-orange: #E5A722;
  --hover-gray-blue: #B4B9BB;
  --hover-light-gray: #DFDFDF;
  --click-light-gray: #D5D5D5;

  /* Opacity */
  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --small-black-opacity: rgba(0, 0, 0, 0.6);
  --basic-black-opacity: rgba(0, 0, 0, 0.3);
  --black-modal-opacity: rgba(0, 0, 0, 0.4);
  --black-opacity: rgba(0, 0, 0, 0.2);
  --black-button-shadow: rgba(0, 1, 1, 0.1);
  --gray-opacity: rgba(166, 166, 166, 0.2);
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-grayish-blue);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Wrapper-container */
.wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Lists */

.site-navigation,
.slider-list,
.products-list,
.partners-list,
.social-list,
.sort-list,
.extra-sort-list,
.filter-list,
.templates-list,
.pagination-list,
.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Buttons */

.button {
  display: inline-block;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  border-radius: 3px;
}

/* Buttons Interactivity */
/* Red Buttons */

.features-item .button,
.site-list-button,
.contact-button,
.modal-button {
  background-color: var(--background-button-red);
}

.features-item .button:hover,
.site-list-button:hover,
.contact-button:hover,
.modal-button:hover {
  background-color: var(--hover-red);
}

.features-item .button:active,
.site-list-button:active,
.contact-button:active,
.modal-button:active,
.features-item .button:focus,
.site-list-button:focus,
.contact-button:focus,
.modal-button:focus {
  background-color: var(--click-moderate-red);
  color: var(--basic-white-opacity);
  box-shadow: inset 0px 3px 0px var(--black-button-shadow);
}

/*Green Buttons */

.app-list-button {
  background-color: var(--background-button-green);
}

.app-list-button:hover {
  background-color: var(--hover-green);
}

.app-list-button:active,
.app-list-button:focus {
  background-color: var(--click-lime-green);
  color: var(--basic-white-opacity);
  box-shadow: inset 0px 3px 0px var(--black-button-shadow);
}

/* Yellow Buttons */

.presentation-list-button {
  background-color: var(--background-button-yellow);
}

.presentation-list-button:hover {
  background-color: var(--hovert-orange);
}

.presentation-list-button:active,
.presentation-list-button:focus {
  background-color: var(--click-vivid-orange);
  color: var(--basic-white-opacity);
  box-shadow: inset 0px 3px 0px var(--black-button-shadow);
}

/*Visually headen */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*==================================== Header ===================================*/
/* Header styles */
.main-header {
  background-color: var(--background-header-gray);

}

.main-header-logo:active path {
  fill: var(--basic-gray);
}

/* Main navigation */
.main-navigation {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  align-items: center;
}

.main-header-logo {
  width: 160px;
  height: 66px;
  /*PixelPerfect*/
  margin-left: 8px;
  margin-top: 45px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  min-height: 30px;
  /*PixelPerfect*/
  width: 437px;
  margin-top: 74px;
  margin-left: 204px;
  margin-right: 237px;
}

.site-navigation-item {
  /*PixelPerfect*/
  margin-right: 45px;
}

.site-navigation-item:nth-child(4n) {
  margin-right: 0px;
}

.user-navigation {
  max-width: 115px;
  margin-top: 75px;
}

.site-navigation a {
  color: var(--basic-black);
  display: block;
  padding-bottom: 9px;
}

.user-navigation a {
  color: var(--basic-black);
  display: block;
  padding-bottom: 10px;
}

.user-navigation .cart-link {
  padding-left: 50px;
  position: relative;
}

.cart-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


/* Header Interactivity */
.site-navigation .active {
  color: var(--basic-black);
  border-bottom: 2px solid var(--background-button-red);
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--background-button-red);
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: var(--basic-black-opacity);
}

/*===================================index.html===================================*/
/*====================================  Main ===================================*/
/* Main */
/* Features */
.features-slider {
  background-color: var(--background-header-gray);
  position: relative;
}

.features-item {
  position: relative;
  display: flex;
  flex-direction: column;
  /*PixelPerfect*/
  padding-left: 1px;
  padding-top: 10px;
}

.features-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.features-item .button {
  box-sizing: border-box;
  padding: 16px 54px 16px 54px;
  min-height: 50px;
  width: 240px;
}


/* Slider */
.first-slide {
  position: relative;
  padding-right: 760px;
}

.first-slide .features-title {
  width: 538px;
  min-height: 111px;
  /*PixelPerfect*/
  margin-top: 67px;
  margin-left: 8px;
  margin-bottom: 10px;
}

.first-slide .features-description {
  width: 400px;
  min-height: 49px;
  /*PixelPerfect*/
  margin-left: 8px;
  margin-bottom: 30px;
}

.first-slide-button {
  /*PixelPerfect*/
  margin-top: 8px;
  margin-bottom: 79px;
  margin-left: 8px;
}

.first-slide::after {
  content: "";
  position: absolute;
  /*PixelPerfect*/
  left: 402px;
  top: 0px;
  width: 760px;
  height: 431px;
  background-image: url("../img/first-slide.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.second-slide {
  position: relative;
  padding-right: 760px;
}

.second-slide .features-title {
  width: 538px;
  min-height: 111px;
  /*PixelPerfect*/
  margin-top: 67px;
  margin-left: 8px;
}

.second-slide .features-description {
  width: 416px;
  min-height: 48px;
  /*PixelPerfect*/
  margin-top: -19px;
  margin-left: 8px;
  margin-bottom: 25px;
}

.second-slide-button {
  /*PixelPerfect*/
  margin-bottom: 83px;
  margin-left: 6px;
}

.second-slide::after {
  content: "";
  position: absolute;
  /*PixelPerfect*/
  left: 407px;
  top: 0px;
  width: 760px;
  height: 431px;
  background-image: url("../img/second-slide.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.third-slide {
  padding-right: 760px;
}

.third-slide .features-title {
  width: 538px;
  min-height: 111px;
  /*PixelPerfect*/
  margin-top: 67px;
  margin-left: 8px;
}

.third-slide .features-description {
  width: 416px;
  min-height: 49px;
  /*PixelPerfect*/
  margin-top: -18px;
  margin-left: 8px;
  margin-bottom: 25px;
}

.third-slide-button {
  /*PixelPerfect*/
  margin-bottom: 80px;
  margin-left: 8px;
}

.third-slide::after {
  content: "";
  position: absolute;
  /*PixelPerfect*/
  left: 405px;
  top: 0px;
  width: 760px;
  height: 431px;
  background-image: url("../img/third-slide.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*Slider control buttons */
.slider-container {
  position: relative;
}

.slider-controls {
  position: absolute;
  /*PixelPerfect*/
  bottom: 95px;
  left: 555px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 17px;
  width: 88px;
  min-height: 18px;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slide {
  display: none;
}

.slide-current {
  display: flex;
}

.slider-controls .current-button {
  position: relative;
}

.slider-controls .current-button::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  left: 4px;
  top: 4px;
  background-image: url('../img/slider-button-circle.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}


/* Main products */
.main-products {
  /*PixelPerfect*/
  margin-bottom: 80px;
  margin-top: 81px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*PixelPerfect
  column-gap: 100px;*/
}

.products-item {
  width: 300px;
  margin-right: 100px;
}

.products-name {
  position: relative;
  padding-top: 171px;
  margin: 0;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
}

.products-item p {
  margin-top: 16px;
  margin-bottom: 32px;
}

/*PixelPerfect*/
.web {
  margin-left: 9px;
}


.web .products-name::before {
  content: "";
  position: absolute;
  background-image: url('../img/illustration-web.png');
  top: 0px;
  width: 300px;
  height: 146px;
}

.apps .products-name::before {
  content: "";
  position: absolute;
  background-image: url('../img/illustration-app.png');
  top: 0px;
  width: 300px;
  height: 146px;
}

.presentations .products-name::before {
  content: "";
  position: absolute;
  background-image: url('../img/illustration-presentation.png');
  top: 0px;
  width: 300px;
  height: 146px;
}

.site-list-button,
.presentation-list-button,
.app-list-button {
  box-sizing: border-box;
  /*PixelPerfect*/
  padding-top: 17px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 36px;
  min-height: 50px;
  width: 160px;
}


/* About company */
.company-description {
  display: flex;
  margin-bottom: 52px;
  background-image: url('../img/line.svg');
  background-position: top;
  background-repeat: no-repeat;
  /*PixelPerfect*/
  margin-left: 10px;
}

.company-information {
  margin-top: 75px;
}

.description-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  width: 651px;
  /*PixelPerfect*/
  margin-top: 0px;
  margin-bottom: 32px;
}

/*PixelPerfect*/
.description-paragraph {
  margin-top: 10px;
  line-height: 25px;
}

.services-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  /*PixelPerfect*/
  margin-top: 40px;
  margin-bottom: 23px;
}

.services-item {
  position: relative;
  /*PixelPerfect*/
  padding-left: 35px;
  padding-bottom: 23px;
}

/*.services-item:last-child {
  padding-bottom: 0px;
}*/

.services-item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0px;
  width: 25px;
  height: 2px;
  background-color: var(--background-button-red);
}

/* Table */

.statistics-information {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-left: 146px;
  margin-top: 40px;
}

.statistics-caption {
  position: relative;
  padding-top: 245px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-black);
  /*PixelPerfect*/
  margin-left: 13px;
  margin-bottom: 30px;
}

.statistics-caption::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 208px;
  background-image: url('../img/nerds-illustration.jpg');
  /*PixelPerfect*/
  top: 0px;
  left: -11px;
}

.statistics-number {
  font-weight: 700;
  font-size: 44px;
  line-height: 62px;
  color: var(--basic-black);
  /*PixelPerfect*/
  padding-right: 20px;
  padding-bottom: 10px;
}


.statistics-number span {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
  vertical-align: top;
}

.statistics-description {
  font-size: 16px;
  line-height: 18px;
  /*PixelPerfect*/
  margin-top: 40px;
}

/* Partners */
.partners {
  /*PixelPerfect*/
  margin-bottom: 80px;
  margin-left: 10px;
  padding-bottom: 5px;
  background-image: url('../img/line.svg'), url('../img/second-line.svg');
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
}

.partners-list {
  display: flex;
  min-height: 180px;
}

.html-academy-item {
  padding-left: 30px;
  padding-top: 65px;
  padding-right: 50px;
  position: relative;
}

.barbershop-item {
  padding-left: 47px;
  padding-top: 47px;
  padding-right: 44px;
  position: relative;
}

.pink-item {
  padding-left: 60px;
  padding-top: 65px;
  padding-right: 57px;
  position: relative;
}

.mishka-item {
  padding-left: 63px;
  padding-top: 52px;
}

.html-academy-item::after,
.barbershop-item::after,
.pink-item::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-image: url('../img/partners-line.svg');
  right: 0px;
  top: 64px;
}

/* Interactivity pertners-logo*/
.partners-item img {
  opacity: 0.2;
}

.partners-item img:hover {
  opacity: 1;
}

.partners-item img:active,
.partners-item img:focus {
  opacity: 0.1;
}

/*==================================== Modals ===================================*/
/* Modal */
.modal {
  display: none;
  position: fixed;
  bottom: 180px;
  top: 25px;
  left: 240px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px var(--black-modal-opacity);
  width: 960px;
  min-height: 590px;
}

.modal-title {
  position: relative;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  /*PixelPerfect*/
  padding-top: 26px;
  margin-left: 100px;
  margin-bottom: 35px;
  color: var(--basic-black);
}

.modal-close {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background-image: url('../img/close-icon.svg');
  border: 0;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.3;
  /*PixelPerfect*/
  right: 90px;
  top: 79px;
}

.modal-close:hover {
  opacity: 1;
  border: 0;
}

.modal-close:active,
.modal-close:focus {
  opacity: 0.1;
  border: 0;
}

.mail-form {
  display: flex;
  flex-wrap: wrap;
  width: 761px;
  min-height: 353px;
  /*PixelPerfect*/
  margin-left: 100px;
}

.modal-name {
  width: 360px;
  min-height: 77px;
  /*PixelPerfect*/
  margin-top: 0px;
  margin-right: 40px;
}

.modal-name-field,
.modal-email-field {
  box-sizing: border-box;
  width: 360px;
  min-height: 50px;
  /*PixelPerfect*/
  margin-top: 6px;
  padding-top: 13px;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-right: 14px;
}

.modal-email {
  width: 360px;
  min-height: 77px;
  margin: 0px;
}

.modal-textarea {
  width: 760px;
  min-height: 145px;
  /*PixelPerfect*/
  margin-top: 14px;
  margin-bottom: 0px;
}

.modal-message-field {
  box-sizing: border-box;
  width: 760px;
  min-height: 118px;
  /*PixelPerfect*/
  margin-top: 5px;
  padding-top: 16px;
  padding-left: 16px;
}

.modal-button {
  box-sizing: border-box;
  padding: 17px 83px 15px 83px;
  min-height: 50px;
  width: 259px;
  /*PixelPerfect*/
  margin-top: 40px;
  border: none;
}

.modal-name-label,
.modal-email-label,
.textarea-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
}

.modal-name-field,
.modal-email-field,
.modal-message-field {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-very-dark-gray);
  opacity: 0.5;
}

/*Interactivity Modal */
.modal-name-field:hover,
.modal-email-field:hover,
.modal-message-field:hover {
  color: var(--basic-very-dark-gray);
  opacity: 0.5;
}

.modal-name-field:focus,
.modal-email-field:focus,
.modal-message-field:focus {
  color: var(--basic-very-dark-gray);
}

.modal-name-field:invalid,
.modal-email-field:invalid,
.modal-message-field:invalid {
  color: var(--hover-red);
}

/*===================================catalog.html===================================*/
/* Main */
.container-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  background-color: var(--background-header-gray);
  text-align: center;
  /*PixelPerfect*/
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 77px;
  padding-left: 19px;
  padding-bottom: 108px;
}

/*==================================== Main ===================================*/
/* Page title */
.main-title {
  background-color: var(--background-header-gray);
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 140px;
  row-gap: 48px;
  margin-top: 55px;
  margin-bottom: 60px;
}


/*==================================== Filters ===================================*/
.product-filter {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  width: 260px;
  /*PixelPerfect*/
  margin-left: 9px;
}

/* Range-filter */
.range-filter-wrapper {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 54px;
}

.range-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 55px;
  margin-bottom: 48px;
}

.range-controls {
  position: relative;
  width: 260px;
  height: 80px;
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--background-header-gray);
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  width: 205px;
  background: var(--basic-light-blue);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--background-button-green);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-lighter-gray);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 159px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  font-family: Roboto, Arial, sans-serif;
  color: var(--basic-grayish-blue);
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-transform: uppercase;
}

.price-controls input {
  box-sizing: border-box;
  width: 80px;
  min-height: 38px;
  margin-left: 11px;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: var(--background-header-gray);
  font-family: inherit;
  font-size: inherit;
  color: var(--basic-grayish-blue);
}

/* Radio-filter & Checbox-filter*/
.radio-filter {
  margin: 0;
  padding: 0;
  border: none;
  /*PixelPerfect*/
  margin-bottom: 43px;
}

.checkbox-filter {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  border: none;
}

.filter-title {
  font-family: Roboto, Arial, sans-serif;
  color: var(--basic-black);
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  align-items: center;
  text-transform: uppercase;
  /*PixelPerfect*/
  margin-bottom: 13px;
}

.filter-option {
  margin-bottom: 15px;
  padding-left: 36px;
}

.filter-option:last-child {
  margin-bottom: 0px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

/* Radio icons */
.filter-radio label::before {
  content: "";
  position: absolute;
  /*PixelPerfect*/
  left: -36px;
  top: 0px;
  width: 25px;
  height: 25px;
  background-image: url('../img/radio-off.svg');
  border-radius: 50%;
  opacity: 0.4;
}

.filter-radio input:checked+label::after {
  content: "";
  position: absolute;
  /*PixelPerfect*/
  left: -28px;
  top: 8px;
  width: 9px;
  height: 9px;
  background-image: url('../img/oval-icon.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

/* Checkbox icons */
.filter-checkbox label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -34px;
  width: 23px;
  height: 23px;
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-checkbox input:checked+label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -34px;
  width: 26px;
  height: 23px;
  background-image: url('../img/checkbox-on.svg');
  background-color: white;
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Interactivity */
.filter-radio label:hover::before,
.filter-checkbox label:hover::before,
.filter-radio input:checked+label:hover::after,
.filter-checkbox input:checked+label:hover::after {
  opacity: 1;
}

.filter-radio input:disabled+label,
.filter-checkbox input:disabled+label {
  opacity: 0.1;
}

/*Filter-button*/
.filter-button {
  width: 260px;
  min-height: 50px;
  background-color: var(--background-header-gray);
  color: var(--basic-black);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Interactivity filter-button */
.filter-button:hover {
  background-color: var(--hover-light-gray);
}

.filter-button:active,
.filter-button:focus {
  background-color: var(--click-light-gray);
  color: var(--basic-black-opacity);
  box-shadow: inset 0px 3px 0px var(--black-button-shadow);
}


/* Sort-menu */
.main-sort {
  display: flex;
}

.sort-menu {
  display: flex;
  align-items: center;
  margin: 0;
}

.sort-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-right: 266px;
  text-transform: uppercase;
  color: var(--basic-black);
  /*PixelPerfect*/
  margin-left: 10px;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /*PixelPerfect
  margin-right: 40px;*/
}

.sort-item {
  /*PixelPerfect*/
  margin-right: 25px;
}

.sort-item:last-child {
  margin-right: 0px;
}

.sort-item,
.extra-sort-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black-opacity);
}

.extra-sort-list {
  display: flex;
  /*PixelPerfect*/
  margin-left: 35px;
}

.extra-sort-item {
  /*PixelPerfect*/
  margin-right: 18px;
}

.extra-sort-item:last-child {
  margin-right: 0px;
}

.sort-item a,
.extra-sort-item a {
  color: var(--basic-black-opacity);
}

.sort-item a:hover,
.extra-sort-item a:hover {
  color: var(--small-black-opacity);
}

.sort-item a:active,
.extra-sort-item a:active,
.sort-item a:focus,
.extra-sort-item a:focus {
  color: var(--basic-black);
}


.extra-sort-item path,
.extra-sort-item path {
  fill: var(--gray-opacity);
}

.extra-sort-item svg:hover path,
.extra-sort-item svg:hover path {
  fill: var(--basic-gray);
}

.extra-sort-item svg:active path,
.extra-sort-item svg:active path,
.active-arrow svg path {
  fill: var(--basic-black-red);
}

/* Templates List */
.templates-list {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  margin-left: 7px;
  margin-bottom: 23px;
}

.templates-item {
  position: relative;
  padding-top: 40px;
  width: 358px;
  height: 578px;
  background-color: var(--background-templates-gray);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  margin-right: 40px;
  margin-bottom: 30px;
}

.templates-item img {
  display: block;
}

.templates-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  /*PixelPerfect*/
  margin-top: 35px;
  margin-left: 2px;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.templates-description {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 32px;
  color: var(--basic-dark-gray);
}

.templates-item-name:hover {
  color: var(--background-button-red);
}

.templates-item-name:active,
.templates-item-name:focus  {
  color: var(--basic-black-opacity);
}

/* Templates button */
.templates-list-button {
  background-color: var(--background-button-red);
  box-sizing: border-box;
  width: 200px;
  min-height: 50px;
  padding: 17px 72px 15px 72px;
  margin-bottom: 44px;
}

.templates-item:nth-child(2n) {
  margin-right: 0;
}

/* Interactivity templates button */
.templates-list-button:hover {
  background-color: var(--hover-red);
}

.templates-list-button:active,
.templates-list-button:focus {
  background-color: var(--click-moderate-red);
  color: var(--basic-white-opacity);
  box-shadow: inset 0px 3px 0px var(--black-button-shadow);
}

.description {
  display: none;
}

/* Interactivity description */
.templates-item:hover .description {
  position: absolute;
  bottom: -1px;
  width: 358px;
  min-height: 231px;
  background-color: var(--background-header-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Browser icon */
.templates-item::before {
  content: "";
  position: absolute;
  width: 358px;
  height: 40px;
  background-image: url('../img/browser.svg');
  opacity: 0.12;
  top: 0px;
}

.templates-item:hover::before {
  opacity: 1;
}

/* Pagination */
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.pagination-item {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  margin-right: 11px;
}

.pagination-item:last-child a {
  width: 260px;
  padding-left: 78px;
  padding-top: 17px;
  margin-right: 0;
}

.pagination-item a {
  display: block;
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  padding: 17px 20px 15px 20px;
  border-radius: 3px;
  color: var(--basic-black);
  background-color: var(--background-header-gray);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.pagination-item-current a {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  padding: 14px 17px 12px 17px;
  background-color: var(--basic-white);
  border: 3px solid var(--basic-light-gray);
}

.pagination-item:hover a {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  padding: 17px 20px 15px 20px;
  background-color: var(--hover-light-gray);
  border: none;
}

.pagination-item:last-child:hover a {
  box-sizing: border-box;
  width: 260px;
  padding-left: 78px;
  padding-top: 17px;
  background-color: var(--hover-light-gray);
  border: none;
}

.pagination-item:active a,
.pagination-item:focus a  {
  background-color: var(--click-light-gray);
  color: var(--basic-black-opacity);
  box-shadow: inset 0px 3px 0px var(--black-button-shadow);
}


/*==================================== Footer ===================================*/
/* Footer */
/* Map & contacts box*/

/*.footer-contacts {
  min-height: 416px;
  background-color: var(--background-header-gray);
  background-image: url('../img/map.jpg');
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}
*/

.footer-contacts iframe {
  border: none;
  width: 100%;
}

.contacts-container {
  position: relative;
}

.contacts {
  position: absolute;
  left: 10px;
  bottom: 60px;
  width: 319px;
  min-height: 308px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  /*justify-content: center;
  align-items: center;*/
  background-color: var(--basic-white);
}

.company-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  box-sizing: border-box;
  /*PerfectPixel*/
  margin-left: 50px;
  margin-top: 47px;
}

.company-contacts,
.company-contacts-tel {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark-gray);
  margin: 0;
  /*PerfectPixel*/
  margin-left: 50px;
  margin-top: 5px;
}

.company-contacts-tel {
  /*PerfectPixel*/
  margin-top: 18px;
}

.contacts-phone {
  color: inherit;
}

.contact-button {
  box-sizing: border-box;
  padding: 17px 44px 15px 44px;
  min-height: 50px;
  width: 219px;
  /*PerfectPixel*/
  margin-left: 50px;
  margin-top: 37px;
}

.contacts-container::after {
  content: "";
  position: absolute;
  width: 231px;
  height: 190px;
  /*PerfectPixel*/
  left: 690px;
  bottom: 148px;
  background-image: url('../img/map-marker.png');
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* Social and promo */
.footer-wrapper {
  display: flex;
  align-items: center;
}

.footer-social {
  /*PixelPerfect*/
  margin-top: 60px;
  margin-right: 80px;
  margin-bottom: 68px;
  margin-left: 10px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 261px;
}

/* Social button */
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  background-color: var(--background-icons-gray);
  border-radius: 50%;
}

.social-button:hover {
  background-color: var(--hover-red);
}

.social-button:active,
.social-button:active path,
.social-button:focus,
.social-button:focus path {
  background-color: var(--click-moderate-red);
  fill: var(--basic-white-opacity);
  box-shadow: inset 0px 3px 0px var(--black-button-shadow);
}

/* Promo */
.footer-promo {
  width: 660px;
}

.promo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: var(--basic-black);
  /*PixelPerfect*/
  margin-top: 10px;
  margin-bottom: 10px;
}

.promo-description {
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-very-dark-gray);
  /*PixelPerfect*/
  margin-top: 0px;
  margin-left: 60px;
}
