:root {
  /* Basic colors */
  --basic-black: #000000;
  --basic-grayish-blue: #283136;
  --basic-black-red: #231F20;
  --basic-very-dark-gray: #444444;
  --basic-dark-gray: #666666;
  --basic-gray: #A6A6A6;
  --basic-light-gray: #DBDBDB;
  --basic-light-blue: #D7DCDE;
  --basic-white: #FFFFFF;

  /* Background */
  --background-header-gray: #EEEEEE;
  --background-darker-gray: #4D4D4D;
  --background-icons-gray: #E1E1E1;
  --background-button-red: #FB565A;
  --background-button-green: #00CA74;
  --background-button-yellow: #EFC849;
  --background-style-yellow: #EFC84A;

  /* Action styles */
  --hover-red: #E74246;
  --click-moderate-red: #D7373B;
  --hover-green: #00BC6C;
  --click-lime-green: #00AA62;
  --hovert-orange: #EAB534;
  --click-vivid-orange: #E5A722;
  --hover-gray-blue: #B4B9BB;
  --hover-light-gray: #DFDFDF;
  --click-light-gray: #D5D5D5;

  /* Opacity */
  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --small-black-opacity: rgba(0, 0, 0, 0.6);
  --basic-black-opacity: rgba(0, 0, 0, 0.3);
  --black-opacity: rgba(0, 0, 0, 0.2);
  --gray-opacity: rgba(166,166,166, 0.2);
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-grayish-blue);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Lists */

.site-navigation,
.products-list,
.partners-list,
.social-list,
.sort-list,
.extra-sort-list,
.filter-list,
.templates-list,
.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Buttons */

.button {
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
}

/* Header */
.main-header {
  background-color: var(--background-header-gray);
}
.main-header-logo svg:active #logo{
  fill: var(--basic-gray);
}

/* Main navigation */

.main-navigation {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation .active {
  color: var(--basic-black);
  border-bottom: 2px solid var(--background-button-red);
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--background-button-red);
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: var(--basic-black-opacity);
}

/*===================================index.html===================================*/
/* Main */
/* Features */
.features {
  background-color: var(--background-header-gray);
}

.features-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

/* Main products */

.products-item {
  text-align: left;
}

.products-name {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);
}

/* About company */

.description-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.services-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

/* Table */

.statistics-caption {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.statistics-number {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.statistics-description {
  font-size: 16px;
  line-height: 18px;
}

/* Partners */

.partners-item img{
  opacity: 0.2;
}
.partners-item img:hover{
  opacity: 1;
}
.partners-item img:active{
  opacity: 0.1;
}

/*===================================catalog.html===================================*/
/* Main */
.container-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  background-color: var(--background-header-gray);
  text-align: center;
}

/* Filters */
.filter-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

/* Styles for forms
.filter-list {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-grayish-blue);
}

.range-number {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.range-background {
  background-color: var(--background-header-gray);
}

.filter-button {
  background-color: var(--background-header-gray);
}

.filter-button{
  color: var(--basic-black);
}*/

/* Sort-menu */
.sort-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.sort-item,
.extra-sort-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black-opacity);
}

.sort-item a,
.extra-sort-item a {
  color: var(--basic-black-opacity);
}

.sort-item a:hover,
.extra-sort-item a:hover {
  color: var(--small-black-opacity);
}

.sort-item a:focus,
.extra-sort-item a:focus{
  color: var(--basic-black);
}


.extra-sort-item svg #arrow-down,
.extra-sort-item svg #arrow-up
{
fill: var(--gray-opacity);
}

.extra-sort-item svg:hover #arrow-down,
.extra-sort-item svg:hover #arrow-up
{
fill: var(--basic-gray);
}

.extra-sort-item svg:active #arrow-down,
.extra-sort-item svg:active #arrow-up,
.active-arrow svg #arrow-down
{
fill: var(--basic-black-red);
}

/* Templates List */

.templates-item-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.templates-description {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark-gray);
}

.templates-item-name:hover {
  color: var(--background-button-red);
}

.templates-item-name:active {
  color: var(--basic-black-opacity);
}

.templates-list-button {
  background-color: var(--background-button-red);
}

.templates-list-button:hover {
  background-color: var(--hover-red);
}

.templates-list-button:active {
  background-color: var(--click-moderate-red);
}

/* Pagination */
.pagination-item a {
  color: var(--basic-black);
  background-color: var(--background-header-gray);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-item-current a {
  background-color: var(--basic-white);
}

.pagination-item a:hover {
  background-color: var(--hover-light-gray);
}

.pagination-item a:active {
  background-color: var(--click-light-gray);
  color: var(--basic-black-opacity);
}

/* Footer */

.footer-contacts {
  background-color: var(--background-header-gray);
}

.contacts {
  background-color: var(--basic-white);
}

.company-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.company-contacts {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark-gray);
}

.contacts-phone {
  color: inherit;
}

/*.social-item{
  background: url("../img/circle-shape.svg") no-repeat;
}*/

.promo-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: var(--basic-black);
}

.promo-description {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--basic-very-dark-gray);
}


/* Modal */
.modal-title {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
}

.modal-name-label,
.modal-email-label,
.textarea-label {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
}

.modal-name-field,
.modal-email-field,
.modal-message-field {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-very-dark-gray);
  opacity: 0.5;
}

.modal-name-field:hover,
.modal-email-field:hover,
.modal-message-field:hover {
  color: var(--hover-gray-blue);
}

.modal-name-field:focus,
.modal-email-field:focus,
.modal-message-field:focus {
  color: var(--basic-black);
}

.visually-hidden {
  display: none;
}

/* Buttons Interactivity */
/* Red Buttons */

.features .button,
.site-list-button,
.contact-button,
.modal-button {
  background-color: var(--background-button-red);
}

.features .button:hover,
.site-list-button:hover,
.contact-button:hover,
.modal-button:hover {
  background-color: var(--hover-red);
}

.features .button:active,
.site-list-button:active,
.contact-button:active,
.modal-button:active {
  background-color: var(--click-moderate-red);
  color: var(--basic-white-opacity);
}

/*Green Buttons */

.app-list-button {
  background-color: var(--background-button-green);
}

.app-list-button:hover {
  background-color: var(--hover-green);
}

.app-list-button:active {
  background-color: var(--click-lime-green);
  color: var(--basic-white-opacity);
}

/* Yellow Buttons */

.presentation-list-button {
  background-color: var(--background-button-yellow);
}

.presentation-list-button:hover {
  background-color: var(--hovert-orange);
}

.presentation-list-button:active {
  background-color: var(--click-vivid-orange);
  color: var(--basic-white-opacity);
}
